@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	body {
		@apply text-neutral-700 bg-neutral-200;
	}

	h1 {
		@apply text-5xl font-semibold;
	}
	h2 {
		@apply text-4xl font-semibold text-center;
	}
	h3 {
		@apply text-2xl font-semibold;
	}
	h4 {
		@apply text-xl font-semibold;
	}

	img {
		@apply w-full object-cover;
	}
	picture {
		@apply overflow-hidden;
	}

	*,
	:hover {
		@apply transition-all duration-200;
	}

	th {
		@apply font-normal;
	}

	/* th,
	td {
		@apply border;
	} */

	input,
	select,
	textarea {
		@apply outline-none;
	}

	.input {
		@apply px-4 py-2 border border-neutral-300 rounded-lg text-ellipsis;
	}

	.button {
		@apply text-3xl bg-stone-500 text-white border-2 border-white hover:bg-white hover:border-neutral-900 hover:text-black rounded-lg;
	}

	@keyframes openLogin {
		from {
			top: -200px;
		}
		to {
			top: 0px;
		}
	}
}

/* hidden scrollbar */
*::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
